*{
    padding: 0px;
    margin: 0px;
}

.head{
    text-align: center;
    padding-top: 4%;
    text-transform: uppercase;
}
.form{
    padding-left: 40%;
    padding-top: 7%;
    position: absolute;
    width: 350px;
    overflow: hidden;
}